.config/bat/themes/*
.config/bottom/macchiato.toml

.config/gitui/theme.ron

.config/helix/external-snippets
.config/helix/languages.toml

.config/yazi/theme.toml
.config/yazi/plugins/*

git/*
.config/git/catppuccin.gitconfig

zsh/.zsh/ohmyzsh-plugins-git/*
zsh/.zprofile

.exclude*
